# Practica SQLite y Python Desde Jupyter Notebook

In [1]:
# importaciones
import sqlite3
import os
import pandas as pd

In [2]:
# en la siguiente linea se extrae la direccion del directorio de trabajo
os.getcwd()

'C:\\Users\\Lenovo Ideapad 3\\Desktop\\Portafolio Data Scientis\\Practica_SQL_Python'

## Cargando la base de datos

In [5]:
# para este paso se debe escribir de forma exacta "path" como nombre de variable
# ademas de tener presente la direccion exacta de la base de datos
path = 'C:\\Users\\Lenovo Ideapad 3\\Desktop\\Portafolio Data Scientis\\Practica_SQL_Python\\sqlite-sakila.db'
sqliteConnection = sqlite3.connect(path)
cursor = sqliteConnection.cursor()

In [6]:
# mirando tablas de una Base de datos
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('actor',), ('country',), ('city',), ('address',), ('language',), ('category',), ('customer',), ('film',), ('film_actor',), ('film_category',), ('film_text',), ('inventory',), ('staff',), ('store',), ('payment',), ('rental',)]

## Haciendo queries con sqlite3

In [10]:
query = "SELECT * FROM film LIMIT 3;"
cursor.execute(query)
print(cursor.fetchall())

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', '2006', 1, None, 6, 0.99, 86, 20.99, 'PG', 'Deleted Scenes,Behind the Scenes', '2021-03-06 15:52:00'), (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', '2006', 1, None, 3, 4.99, 48, 12.99, 'G', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00'), (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', '2006', 1, None, 7, 2.99, 50, 18.99, 'NC-17', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00')]

In [11]:
query = "SELECT * FROM film LIMIT 3;"
cursor.execute(query)
output = cursor.fetchall()
for row in output:
    print(row)

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', '2006', 1, None, 6, 0.99, 86, 20.99, 'PG', 'Deleted Scenes,Behind the Scenes', '2021-03-06 15:52:00')
(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', '2006', 1, None, 3, 4.99, 48, 12.99, 'G', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00')
(3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', '2006', 1, None, 7, 2.99, 50, 18.99, 'NC-17', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00')

## haciendo queris con pandas

In [20]:
query = "SELECT * FROM film LIMIT 10;"
pd.read_sql_query(query, sqliteConnection).head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2021-03-06 15:52:00
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2021-03-06 15:52:00

In [24]:
# mas queries con pandas
query = '''
SELECT rating, AVG(length)
FROM film
GROUP BY rating
HAVING AVG(length) BETWEEN 112 AND 120
'''
pd.read_sql_query(query, sqliteConnection)

  rating  AVG(length)
0  NC-17   113.228571
1     PG   112.005155
2      R   118.661538

In [25]:
# haciendo queries sin muchos comandos sql, en su mayoria pandas
query = "SELECT * FROM film"
df_film = pd.read_sql_query(query, sqliteConnection)

In [38]:
(df_film.groupby('rating').mean()[['length']])

            length
rating
G       111.050562
NC-17   113.228571
PG      112.005155
PG-13   120.443946
R       118.661538

In [39]:
(df_film.groupby('rating').mean()[['length']].query('length >= 112 & length <= 120'))

            length
rating
NC-17   113.228571
PG      112.005155
R       118.661538

## Cerrar conexiones

In [40]:
# cerrar cursor
cursor.close()

In [41]:
# cerrar base de datos
sqliteConnection.close()